<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TR6S3J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TR6S3J');</script>
<!-- End Google Tag Manager -->

<a href="#/books">回到上一頁</a>
<div class="panel panel-default" ng-init="getBook()">
    <div class="panel-heading">
        <h3 class="panel-title">{{book.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{book.image_url}}">
            </div>
            <div class="col-md-8">
                <p>{{book.description}}</p>
                <ul class="list-group">
                    <li class="list-group-item">類別： {{book.genre}}</li>
                    <li class="list-group-item">作者： {{book.author}}</li>
                    <li class="list-group-item">出版社： {{book.publisher}}</li>
                    <li class="list-group-item">頁數： {{book.pages}}</li>
                    <li class="list-group-item">閱畢日期： {{book.read_date}}</li>
                </ul>
                <a target="_blank" href="{{book.visit_url}}" class="btn btn-primary">View on Facebook</a>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
<a href="#/books/edit/{{book._id}}">修改</a> | <a href="#" ng-click="removeBook(book._id)">刪除</a>
</div>