<div class="panel panel-default" ng-init="getBooks()">
  <div class="panel-heading">
    <h3 class="panel-title">我的書評</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="book in books">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4>{{book.title}}</h4>
            <p>閱畢日期： {{book.read_date}}</p>
    				<!-- <p class="ellipsis">{{book.description}}</p> -->
            <div class="short">
            <p>{{book.description}}</p>
            </div>
    				<a class="btn btn-primary" href="#/books/details/{{book._id}}">閱讀全文</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" src="{{book.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
